@using KhoaLuanTotNghiep.Models;
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/style.css" media="screen" />
@{
    Model1 model = new Model1();
    TAIKHOAN account = model.TAIKHOANs.Where(t => t.USING == true).SingleOrDefault();
}
<style>
    .navbar2 {
        z-index: 1;
        background-image:url('../../Img/vertical background.jpg');
        background-size:100% 100%;
        background-color:rgba(255,255,255,0.2);
        background-blend-mode:lighten;
    }
    .account, .vocabulary, .Group, .Exam {
        width: 100%;
        height:100px;
        display:flex;
        justify-content:center;
        padding:35px 0;
        background-image:url(../../Img/thumuc.png);
        background-size:100% 100%;
    }
    
</style>
<div class="navbar2" style="width:15%;border:none;box-shadow:0 0 7px gray;position:fixed;top:43px;padding:0;">
    <div class="account">
        @Html.ActionLink("Tài khoản", "AccountInfo", "Account", new { id = account.IDTK }, new { @class = "btn", @style = "border:none;color:white;font-size:1.25rem;font-weight:600;border-radius:0;border-radius:0.5rem;height:65px;width:212px;" })
    </div>
    <div class="vocabulary">
        @Html.ActionLink("Từ vựng", "Index", "Vocabulary", null ,new { @class = "btn", @style = "border:none;color:white;font-size:1.25rem;font-weight:600;border-radius:0;border-radius:0.5rem;height:65px;width:212px;" })
    </div>

    <div class="Exam">
        @Html.ActionLink("Bài tập", "Index", "Exam", null,new { @class = "btn", @style = "border:none;color:white;font-size:1.25rem;font-weight:600;border-radius:0;border-radius:0.5rem;height:65px;width:212px;" })
    </div>
    <div class="Group">
        @Html.ActionLink("Học nhóm", "Group", "Account",null, new { @class = "btn", @style = "border:none;color:white;font-size:1.25rem;font-weight:600;border-radius:0;border-radius:0.5rem;height:65px;width:212px;" })
    </div>


</div>