@model KhoaLuanTotNghiep.Models.THONGTINTAIKHOAN
@using KhoaLuanTotNghiep.Models;

@{
    ViewBag.Title = "pictureMeaning";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model1 model = new Model1();
    var tuple = ViewData["tuple"] as Tuple<List<TUVUNGONTAP>, int>;
    var listTV = tuple.Item1;
    Random randn = new Random();
}

<script src="https://code.responsivevoice.org/responsivevoice.js?key=G9wc7rFf"></script>
<style>
    .vocabulary a {
        background-color: rgb(230, 230, 230);
    }

    body {
        background-image: url(https://kidsgoflash.com/wp-content/uploads/2017/02/kidsgoflash_sky_birds2.jpg);
        background-color: rgba(255,255,255,0.7);
        background-blend-mode: screen;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .word-char:not(:first-child) {
        margin-left: 10px;
    }

    .word-choose:not(:first-child) {
        margin-left: 10px;
    }
</style>
<div class="container-all" style="height:670px;padding:10px; display:flex;flex-direction:row;position:absolute;width:83%;top:60px;">

    <div class="match-container" style="padding: 20px; border-radius: .5rem; background-color: rgba(251, 248, 226,0.7); width: 65%; height: 100%; display: flex; flex-direction: row; justify-content: space-between;">
        <section style="width:100%;height:100%;background-image:url(/Img/greenboard.png);background-size:100% 100%;border-radius:2rem;padding:48px 45px;">
            <div class="word-container" id="word-container" style="overflow:hidden;height:100%;">
                @for (var i = 0; i < listTV.Count(); i++)
                {
                <div id="@i-word" class="word-section" style="width:100%;height:100%;">
                    <div class="picture-container" style="height:50%;width:100%; display:flex;justify-content:center;align-items:center;">
                        <div class="picture" style="width:50%;height:90%;border-radius:2rem;background-color: rgba(255, 255, 255,1);background-image:url('@listTV[i].ANHTUVUNG');background-size:50% 100%;background-repeat:no-repeat;background-position:center;opacity:0.8">
                        </div>
                    </div>
                    <div class="answer-container" style="height:50%;width:100%;padding:25px 40px 55px 40px;">
                        <div class="word-container-frame" style="width:100%;height:100%;display:flex;flex-direction:row;flex-wrap:wrap;">
                            @{
                                List<TUVUNGONTAP> list2 = listTV.Where(t => t.TENTV != listTV[i].TENTV).ToList();
                                var list3 = list2.OrderBy(t => randn.Next()).Take(3).ToList();
                                list3.Add(listTV[i]);
                                foreach (var item1 in list3.OrderBy(t=>randn.Next()).ToList())
                                {
                                    <div class="btn-answer-frame" style="width:50%;height:50%;padding:10px;">
                                        <button style="width:100%;height:100%;border-radius:.5rem;background-color:rgba(255,255,255,0.7);outline:none">@item1.TENTV</button>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
                            }

            </div>
        </section>
    </div>
    <div class="match-result" style="border-radius: .5rem; background-color: rgba(251, 248, 226,0.7); width: 38%; margin-left: 15px;">
        <div class="card-container" style="height:100%;">
            <div class="card-info front-info" style="height:100%;width:100%;">
                <div class="flashcard-item" style="border:1px solid gray; margin: 20px 20px 0 20px; height:480px;display:flex;flex-direction:column;
        flex-direction:column;align-items:center;justify-content:flex-start;border-radius:2rem;background-color:rgba(255,255,255,0.7);">
                    <h1 style="text-transform:uppercase; font-size:2rem;margin-top:100px;">Kết quả luyện tập</h1>
                    <h3 id="tld" style="text-transform:uppercase; font-size:1.25rem;margin-top:25px;color:green;">Số câu trả lời đúng là : 0 </h3>
                    <h3 id="tls" style="text-transform:uppercase; font-size:1.25rem;margin-top:10px;color:red;">Số câu trả lời sai là : 0</h3>

                </div>


            </div>
            <div class="card-info back-info" style=" border:1px solid gray;  margin: 20px 20px 0 20px; height:480px;background-color:whitesmoke;width:91%;
    display: flex;display:flex;flex-direction:column;
        flex-direction:column;align-items:flex-start;border-radius:2rem;transform:rotateY(-180deg); padding:30px 30px;">
                <h2 style="font-size:1.5rem;">Các từ không chính xác :</h2>
                <ul id="wrong-contain">
                </ul>
                <h2 style="font-size:1.5rem;">Các từ chính xác :</h2>
                <ul id="right-contain">
                </ul>
            </div>
            <div class="edit-delete1" style="padding:5px 20px;position:absolute;bottom:-10px;height:125px;left:0;width:100%;margin:15px 0 ;">
                <div style="display:flex;flex-direction:row;justify-content:space-between; width:100%; height:45%; ">
                    <Button class="btn-edit" style="width:100%; height:100%;border-radius:2rem;border:1px solid grey;background-color:rgba(255,255,255,0.5);">CHI TIẾT</Button>
                    <a style="width:100%;" href="/Vocabulary/wordCorrect?id=@tuple.Item2"><Button class="btn-edit" style="border: 1px solid grey; width: 100%; height: 100%; border-radius: 2rem;background-color:rgba(255,255,255,0.5); ">LUYỆN TẬP LẠI</Button></a>
                </div>
                <div style="width:100%; height:45%;margin-top:10px;">
                    <a href="/Vocabulary/practice?id=@tuple.Item2"><Button class="btn-edit" style="width:100%; height:100%;border-radius:2rem;border: 1px solid grey;background-color:rgba(255,255,255,0.5);">KẾT THÚC</Button></a>
                </div>

            </div>


        </div>
    </div>
</div>
<script>


    $(document).ready(function () {
       



        $(`.btn-edit`).click(function () {

            i = i + 1;
            if (i % 2 != 0) {
                $(`.front-info`).css("transform", "rotateY(180deg)");
                $(`.back-info`).css("transform", "rotateY(0)");
            }
            else {
                $(`.front-info`).css("transform", "rotateY(0)");
                $(`.back-info`).css("transform", "rotateY(-180deg)");
            }
        });
    });
</script>


